.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding: 50px;
  .left-content {
    border: 2px solid #ccc;
    width: 70%;
    border-radius: 5px;
    padding: 20px;
    .title {
      font-size: 30px;
      font-weight: 600;
    }
    .q-content {
      text-align: center;
      .q-question {
        font-size: 20px;
        font-weight: 600;
        padding: 0 20px 0 0;
        margin-top: -65px;
      }
      .q-image {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        img {
            max-width: 100%;
            max-height: 100%;
        }
      }
      .answer{
        .a-child{
            text-align: left;
            padding-left: 50px;
        }
      }
    }
    .q-footer {
        margin-top: 20px;   
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
    }
  }
  .right-content {
    border: 1px solid #ccc;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
  }
}
